:root{
  --green : green;
}
*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body{
 background-color: #000000;
}

header {
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 50px;
}

.logo {
  text-decoration: none;
  color: var(--green); 
  text-transform:uppercase; 
  font-weight: 450;
  font-size: 33px;
}
.logo span{
color:#fcdaa5;
}
.navigation a{
  color:#000000;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  margin-left: 20px;  
}
.navigation a:hover{
  border: 2px solid rgb(236, 223, 205);
}


.btn{
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  font-size:18px;
  color: var(--white);
  border-radius: 5px;
  text-transform: capitalize;
  background-color: var(--blue);
  margin-top: 10px;
}

.btn:hover:hover{
  background-color: var(--black);
}

/* .form-content{
min-height: 100vh;
display: flex;
align-items: center;
justify-content: center; 
padding: 20px;
} 

.form-content form{
  width: 700px;
  border-radius: 5px;
  border: var(--border);
  padding: 20px;
  text-align: center;
  background-color: var(--white);
}

.form-content form span{
  position: relative;
  bottom: 12px;
  right: 17px;
  font-size: 14px;
  color: var(--red);
}

.form-content form span i{
  color: seagreen;
}
 

.form-content form .box{
width: 70%;
border-radius: 5px;
border: var(--border);
padding:12px 14px;
font-size: 18px;
margin: 10px 0;
}

.form-content form p{
margin-top:20px;
font-size: 20px;
color: var(--black);
} 

.form-content form p a{
  color: var(--red);
  text-decoration: none;
}

.form-content form p a:hover{
text-decoration: underline;
} */

.container{
  background-color: var(--blue);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container form{
  width: 90%;
  max-width: 500px;
  padding: 50px 30px 20px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  position: relative;
}

.input-group{
  width: 100%;
  display: flex;
  align-items: center;
  margin: 10px 0;
  position: relative;
}
.input-group label{
  flex-basis: 28%;
}
.input-group input{
  flex-basis: 68%;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 10px 0;
  border-bottom: 1px solid #999;
  color: #333;
  font-size: 16px;
}
::placeholder{
  font-size: 14px;
}

.btn{
  background: #141a34;
  color: #fff;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  padding: 10px 40px;
  outline: 0;
  cursor: pointer;
  display: block;
  margin: 30px auto 10px;
}
.container form p{
  margin: 20px 58px 10px;
  font-size: 20px;
  color: var(--black);
  } 
  
.container form p a{
  color: var(--red);
   text-decoration: none;
  }
  
.container form p a:hover{
  text-decoration: underline;
  }

.container form h2{
  font-size: 30px;
  color: var(--black);
  text-transform: capitalize;
  }

.container form span{
  bottom: 12px;
  right: 17px;
  font-size: 14px;
  color: var(--red);
  }
  
.container form span i{
  color: seagreen;
  }

.nav{
  background-color: var(--black);
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
}

.navigation input{
  background-color: var(--white);
  /* margin-right: 15px; */
  font-size: 18px;
  border: none;
  background: var(--white);
}

.nav i{
  font-size: 18px;
  padding: 5px;
}

